$color-1: #eaeaea;
$color-2: #c0d6df;
$color-3: #4f6d7a;
$color-4: #e8dab2;
$color-5: #dd6e42;
$border: #3e3e3e;
$shadow: #757575;
$black: rgb(0, 0, 0);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: $color-5;
    height: 85px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: $black;
}

.menu {
    background: $color-3;
    width: 100%;
    height: 50px;
    display: block;
    display: flex;
    justify-content: center;
    .btn {
        width: 180px;
        padding: 5px;
        margin: 5px;
        text-align: center;
        background-color: $color-2;
        border: 1px solid $border;
        border-radius: 3px;
        cursor: pointer;
        filter: drop-shadow(2px 2px 3px $shadow);
    }
    a.active {
        .btn {
            background-color: $color-5;
        }
    }
}

.content-wrapper {
    width: 100%;
    height: calc(100% - 135px);
    position: absolute;
    display: block;
    background-color: $color-1;

    .container {
        background: $color-2;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: calc(100%);
        filter: drop-shadow(2px 2px 3px $shadow);
    }
}

.profileView {
    .info {
        padding: 5px;
        table {
            table-layout: fixed;
            width: 300px;
            border-collapse: collapse;
            td {
                border: 1px solid $border;
            }
        }
    }
}

.workoutView {
    table {
        width: 90%;
        margin: auto;
        table-layout: fixed;
        border-collapse: collapse;
        td {
            border: 1px solid $border;
        }
    }
    .options {
        margin-top: 15px;
        border-top: 1px solid $shadow;
        span {
            padding: 5px;
            margin: 5px;
            text-align: center;
            background-color: $color-5;
            border: 1px solid $border;
            border-radius: 3px;
            cursor: pointer;
            filter: drop-shadow(2px 2px 3px $shadow);
            line-height: 50px;
        }
    }
}

.workoutAddView{
    .options {
        margin-top: 15px;
        span {
            padding: 5px;
            margin: 5px;
            text-align: center;
            background-color: $color-5;
            border: 1px solid $border;
            border-radius: 3px;
            cursor: pointer;
            filter: drop-shadow(2px 2px 3px $shadow);
            line-height: 50px;
        }
    }
}
